<section>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category category--active">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo"></div>
    <a class="category__name">Kategoria</a>
  </div>
</section>
