<section>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'origami'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'origami'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category category--active">
    <div class="category__logo">
      <app-svg [name]="'leather'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'origami'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'origami'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'leather'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'delete'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
  <div class="category">
    <div class="category__logo">
      <app-svg [name]="'leather'" [color]="'brown'" [size]="'25'"></app-svg>
    </div>
    <a class="category__name">Kategoria</a>
  </div>
</section>
