:host {
  padding: 5px;
  cursor: pointer;
}

.invertColors {
  --svg-fill-color: white;
}

span {
  display: inline-block;
}

.svg-fill-blue svg {
  stroke: var(--blue);
  fill: var(--blue);
}
.svg-fill-orange {
  stroke: var(--orange);
  fill: var(--orange);
}
.svg-fill-white {
  stroke: var(--white);
  fill: var(--white);
}
.svg-fill-green {
  stroke: var(--green);
  fill: var(--green);
}
.svg-fill-red {
  stroke: var(--red);
  fill: var(--red);
}
.svg-fill-grey {
  stroke: var(--grey);
  fill: var(--grey);
}
