<div class="navbar">
  <a *ngIf="!authService.isLogged" (click)="modalService.open(modalID)"
    >Zaloguj</a
  >
  <a *ngIf="!authService.isLogged" [routerLink]="['/register']">Rejestracja</a>

  <a *ngIf="authService.isLogged" [routerLink]="['/offer/add']" class="add__btn"
    >Dodaj</a
  >
  <div class="dropdown" *ngIf="authService.isLogged">
    <button class="dropbtn">
      {{ authService.myData ? authService.myData.nickname : "" }}
    </button>
    <div class="dropdown-content">
      <a
        [routerLink]="[
          '/profile',
          authService.myData ? authService.myData.id : ''
        ]"
        >Konto</a
      >

      <a [routerLink]="['/favourites']">Ulubione</a>

      <a
        [routerLink]="[
          '/offers',
          'user',
          authService.myData ? authService.myData.id : ''
        ]"
        >Moje oferty</a
      >

      <a [routerLink]="['/chat/list']">Wiadomości</a>

      <a [routerLink]="['/administration']">Panel Administracyjny</a>

      <a (click)="authService.logout()">Wyloguj</a>
    </div>
  </div>
  <a *ngIf="authService.isLogged" [routerLink]="['/forum']">Forum</a>
</div>

<app-login [modalID]="modalID"></app-login>
