<nav>
  <ul>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">dodaj przedmiot</a>
    </li>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/favourites']">ulubione</a>
    </li>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a
        [routerLink]="[
          'offers/user',
          authService.myData ? authService.myData.id : ''
        ]"
        >moje oferty</a
      >
    </li>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">pofil</a>
    </li>
    <li
      *ngIf="!authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/register']">rejestracja</a>
    </li>
    <li *ngIf="!authService.isLogged" class="nav__item">
      <a (click)="modalService.open(modalID)">zaloguj</a>
    </li>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">wiadomości</a>
    </li>
    <li
      *ngIf="authService.isLogged && authService.isAdmin()"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/administration']">admin</a>
    </li>
    <li
      *ngIf="authService.isLogged"
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/forum']">forum</a>
    </li>
  </ul>
</nav>

<app-login [modalID]="modalID"></app-login>
