nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav__item {
  color: var(--dark-grey);
  margin: 0 20px;

  &--active {
    color: var(--blue);
    font-weight: var(--bold);
  }
}
