.navbar {
  overflow: hidden;
  background-color: transparent;
  margin: 0 10px;
  width: 300px;

  a {
    float: left;
    font-size: var(--fs14);
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: var(--fs14);
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
}

.add__btn {
  background-color: var(--light-green);
  border-radius: var(--border-radius);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 180px;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--green);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--green);
  color: var(--white);
  // border-bottom: 1px solid var(--green);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 180px;
  }

  .dropdown .dropbtn,
  .navbar a {
    padding: 7px 8px;
    font-size: var(--fs12);
  }
}
