<nav>
  <ul>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">dodaj przedmiot</a>
    </li>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">pofil</a>
    </li>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/register']">rejestracja</a>
    </li>
    <li class="nav__item">
      <a (click)="modalService.open(modalID)">zaloguj</a>
    </li>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/profile']">wiadomości</a>
    </li>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/administration']">admin</a>
    </li>
    <li
      class="nav__item"
      routerLinkActive="nav__item--active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a [routerLink]="['/forum']">forum</a>
    </li>
  </ul>
</nav>

<app-login [modalID]="modalID"></app-login>
