<main>
  <div class="baner">
    <div class="baner__box baner__box--first">
      <div>
        <span> Przedstaw swoje autorskie prace </span>
        <p>
          Craftowary jest Polską platformą internetową łączącą ludzi z kraju,
          którzy tworzą, kupują, sprzedają i kolekcjonują wyjątkowe produkty.
        </p>
      </div>
    </div>
    <div class="baner__box baner__box--sec">
      <div>
        <span>Odkrywaj wyjątkowe, wyselekcjonowane produkty</span>
        <p>
          Caraftowary nie mają magazynu. My ułatwiamy proces zakupu, pomagając
          Ci bezpośrednio skontaktować się z twórcami i znaleźć coś wyjątkowego.
        </p>
      </div>
    </div>
    <div class="baner__box baner__box--third">
      <div>
        <span>Wspieraj niezależnych twórców</span>
        <p>
          Twoja prywatność jest priorytetem dla naszego zespołu specjalistów.
          Jeśli potrzebujesz pomocy, zawsze jesteśmy gotowi udzielić Ci
          wsparcia.
        </p>
      </div>
    </div>
  </div>
  <div class="login">
    Zaloguj się aby w pełni skorzystać z serwisu!
    <button class="btn btn--orange" (click)="modalService.open(modalID)">
      Zaloguj
    </button>
  </div>
  <div class="offers">
    <app-offer *ngFor="let offer of offers" [offer]="offer"></app-offer>
  </div>
  <div class="subtitle">Czym są Craftowary?</div>
  <div class="description"></div>
</main>
<app-login [modalID]="modalID"></app-login>
