main {
  width: 100%;
  height: 100%;
}

.baner {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &__box {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;

    p {
      opacity: 0;
      height: 0;
      transition: all 0.3s ease-in;
      font-size: var(--fs12);
      text-align: center;
    }

    span {
      color: var(--brown);
      transition: all 0.3s ease-in;
      width: 100%;
      text-align: center;
      font-size: var(--fs16);
      margin-top: 20px;
    }

    div {
      color: var(--white);
      background-color: var(--white);
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      transition: all 0.3s ease-in;
    }

    &--first {
      background-image: url(../../../assets/images/tlo2.jpg);
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--sec {
      background-image: url(../../../assets/images/tlo3.jpg);
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--third {
      background-image: url(../../../assets/images/tlo4.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    b {
      margin-bottom: 20px;
    }

    &--description {
      align-items: center;
      justify-content: flex-start;
      width: 25%;

      p {
        text-align: justify;
      }
    }

    &:hover {
      div {
        height: 160px;
        align-items: flex-start;

        span {
          color: var(--brown);
          margin-top: 0;
        }

        p {
          opacity: 1;
        }
      }
    }
  }
}

.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 20px;

  // button {
  //   margin: 30px;
  //   height: 40px;
  //   width: 150px;
  //   background-color: var(--light-gray);
  //   border: 1px solid var(--brown);
  //   color: var(--brown);
  //   border-radius: 25px;
  //   transition: all 0.2s ease-in-out;
  //   &:hover {
  //     background-color: var(--green);
  //     border: 1px solid var(--green);
  //     color: var(--white);
  //   }
  // }
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-image: url(../../../assets/images/kreska3.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: var(--fs30);
  margin-top: 50px;
}

.offers {
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
