.post {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;

  &__content {
    padding: 10px;
  }

  &__title {
    padding-bottom: 15px;
    font-size: var(--fs14);
    font-weight: var(--bold);
  }

  &__date {
    font-size: var(--fs12);
  }

  &__nickname {
    font-size: var(--fs14);
    font-weight: var(--bold);
  }

  &__owner {
    text-align: center;
    width: 250px;
    border-left: 1px solid var(--bcg);
    padding: 10px;
    img {
      width: 50px;
      height: 50px;
      margin: 5px;
    }
  }

  &:hover {
    border-left: 4px solid var(--orange);
  }
}
