<main *ngIf="user">
  <div class="left">
    <div class="section">
      <div class="section__img">
        <img [src]="user.image" />
        <div
          class="section__image-button"
          (click)="showEditImage()"
          *ngIf="isOwnerOrAdmin"
        >
          <img src="/assets/images/add-photo.png" />
        </div>
      </div>
      <div class="nickname">
        <span>{{ user.nickname }}</span>
      </div>
    </div>
    <div class="section section--row">
      <div class="section__box" [routerLink]="['offers']">
        Przedmioty
        <span>
          {{ user.offers }}
        </span>
      </div>
      <div
        class="section__box"
        [routerLink]="['/chat/' + threadID]"
        *ngIf="!loggedUser"
      >
        wiadomości
      </div>
      <div class="section__box">
        Ogłoszenia
        <span>
          {{ user.posts }}
        </span>
      </div>
    </div>
    <div class="section">
      <div class="section__input">
        <app-form-input
          [form]="form"
          [control]="controls.firstName"
          [label]="'Imię'"
          [name]="'firstName'"
        >
        </app-form-input>
      </div>
      <div class="section__input">
        <app-form-input
          [form]="form"
          [control]="controls.lastName"
          [label]="'Nazwisko'"
          [name]="'lastName'"
        >
        </app-form-input>
      </div>
      <div class="section__input">
        <app-form-input
          [form]="form"
          [control]="controls.email"
          [label]="'E-mail'"
          [name]="'email'"
        >
        </app-form-input>
      </div>
      <div class="section__input">
        <app-form-input
          [form]="form"
          [control]="controls.phoneNumber"
          [label]="'Numer telefonu'"
          [name]="'phoneNumber'"
        >
        </app-form-input>
      </div>
      <div class="section__input">
        <app-form-input
          [form]="form"
          [control]="controls.city"
          [label]="'Miejscowość'"
          [name]="'city'"
        >
        </app-form-input>
      </div>
    </div>
  </div>
  <div class="other__offers">
    <app-offer *ngFor="let offer of userOffers" [offer]="offer"></app-offer>
  </div>
</main>
<div class="edit__image" *ngIf="editImage">
  <div class="edit__image__box">
    <div class="upload__content">
      <span>Dodaj nowe zdjęcie: </span>
      <div class="add_img">
        <div class="images_form">
          <img [src]="url" *ngFor="let url of urls" />
          <label class="custom-file-upload">
            <input type="file" (change)="getImages($event)" class="inputfile" />
          </label>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn submit__btn" (click)="sendImage()">Zapisz</button>
      <button class="btn cancel__btn" (click)="showEditImage()">Anuluj</button>
    </div>
  </div>
</div>
