.radio__container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  height: 24px;
  width: 24px;
}

.radio__container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 2px solid var(--dark-grey);
}

.radio__container input:checked ~ .checkmark {
  border: 2px solid var(--orange);
}

.icon {
  display: none;
}

.radio__container input:checked ~ .checkmark .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: var(--brown);
  font-size: 12px;
  font-weight: bold;
}
