<form [formGroup]="form" class="container">
  <div class="container__box container__box--images">
    <b>Dodaj zdjęcia przedmiotu: </b>
    <app-gallery
      [images]="images"
      (sendValue)="getImages($event)"
    ></app-gallery>
  </div>
  <div class="box-wrapper">
    <div class="container__box">
      <div class="offer__info">
        <app-form-input
          [label]="'Nazwa przedmiotu'"
          [requireLabelType]="false"
          [name]="'name'"
          [form]="form"
          [control]="controls.name"
          [id]="'name'"
        >
        </app-form-input>
      </div>

      <div class="offer__info">
        <app-form-textarea
          [label]="'Opis przedmiotu'"
          [requireLabelType]="false"
          [name]="'description'"
          [form]="form"
          [control]="controls.description"
          [id]="'description'"
        >
        </app-form-textarea>
      </div>

      <div class="offer__info">
        <app-form-input
          [label]="'Tagi'"
          [requireLabelType]="false"
          [name]="'tag'"
          [form]="form"
          [control]="controls.tag"
          [placeholder]="'np.: bransoletka, bursztyn, biżuteria'"
          [id]="'tag'"
        >
        </app-form-input>
      </div>
      <div class="offer__info">
        <app-form-select
          [values]="categories"
          [label]="'Kategoria'"
          [requireLabelType]="true"
          [name]="'category'"
          [form]="form"
          [control]="controls.category"
          [id]="'category'"
        >
        </app-form-select>
      </div>
      <div class="offer__info">
        <app-form-toggle-switch
          [id]="'abroad'"
          [label]="'Możliwość wysyłki za granicę'"
          [requireLabelType]="false"
          [name]="'abroad'"
          [form]="form"
          [control]="controls.abroad"
        >
        </app-form-toggle-switch>
      </div>
      <div class="offer__info">
        <app-form-select
          [values]="days"
          [label]="'Dostępny za'"
          [requireLabelType]="true"
          [name]="'ready_in'"
          [form]="form"
          [control]="controls.ready_in"
          [id]="'ready_in'"
        >
        </app-form-select>
      </div>
    </div>

    <div class="container__box">
      <div class="offer__info">
        <app-form-select
          [values]="genderType"
          [label]="'Rodzaj'"
          [requireLabelType]="true"
          [name]="'gender'"
          [form]="form"
          [control]="controls.gender"
          [id]="'gender'"
        >
        </app-form-select>
      </div>
      <div class="offer__info">
        <app-form-input
          [label]="'Cena'"
          [requireLabelType]="false"
          [name]="'price'"
          [form]="form"
          [control]="controls.price"
          [placeholder]="'np.: 150.00'"
          [id]="'price'"
        >
        </app-form-input>
      </div>

      <div class="offer__info">
        <app-form-radio
          [values]="colors"
          [label]="'Kolor przedmiotu'"
          [requireLabelType]="true"
          [name]="'color'"
          [form]="form"
          [control]="controls.color"
          [id]="'color'"
        >
        </app-form-radio>
      </div>
    </div>
  </div>
  <button type="submit" (click)="addOffer()" class="btn btn--orange button">
    Zapisz ofertę
  </button>
</form>
