<ng-container [formGroup]="form">
  <div class="input-field">
    <label
      [ngClass]="{ active: control.value }"
      [for]="id"
      *ngIf="labelType === 1"
      >{{ requireLabelType ? label + "*" : label }}</label
    >
    <input
      [placeholder]="placeholder"
      [type]="type"
      [attr.id]="id"
      [attr.disabled]="disabled ? '' : null"
      [attr.autocomplete]="autocomplete ? 'off' : 'new-password'"
      [name]="name"
      class="validate"
      (focus)="setFocus(true)"
      (blur)="setFocus(false)"
      ngDefaultControl
      [maxlength]="maxlength"
      [formControl]="control"
      (change)="changeInput($event.target.value)"
      (keydown)="onKeyDown({ event: $event, value: input.value })"
      #input
    />
    <span
      class="helper-text"
      *ngIf="
        form.controls[name] &&
        form.controls[name].errors &&
        form.controls[name].errors['error']
      "
      >{{ form.controls[name].errors["error"] }}</span
    >
  </div>
</ng-container>
