<div class="wrapper">
  <section class="top">
    <a class="wrapper__btn" [routerLink]="'add'">
      Dodaj ogłoszenie
      <app-svg [name]="'plus'" [color]="'white'" [size]="'15'"></app-svg>
    </a>
  </section>
  <section>
    <div class="categories">
      <a
        class="category"
        *ngFor="let category of categories"
        [routerLink]="['category', category.name]"
      >
        <span>{{ category.name }}</span>
      </a>
    </div>
    <div class="posts">
      <app-post [post]="post" *ngFor="let post of posts"></app-post>
    </div>
  </section>
</div>
