<section>
  <app-svg
    [name]="'cancel'"
    [color]="'green'"
    [size]="'20'"
    (click)="closeFilters.emit()"
    class="cancel"
  ></app-svg>
  <app-form-select
    [values]="orderBy"
    [label]="'Sortuj według'"
    [name]="'ordering'"
    [form]="form"
    [control]="controls.ordering"
  >
  </app-form-select>
  <app-form-select
    [values]="genderType"
    [label]="'Rodzaj'"
    [name]="'gender'"
    [form]="form"
    [control]="controls.gender"
  >
  </app-form-select>
  <app-form-input
    [label]="'Cena od'"
    [name]="'price'"
    [form]="form"
    [control]="controls.price__gte"
    [placeholder]="'np.: 15.00'"
  >
  </app-form-input>
  <app-form-input
    [label]="'Cena do'"
    [name]="'price'"
    [form]="form"
    [control]="controls.price__lte"
    [placeholder]="'np.: 150.00'"
  >
  </app-form-input>
  <app-form-radio
    [values]="colors"
    [label]="'Kolor przedmiotu'"
    [name]="'color'"
    [form]="form"
    [control]="controls.item__color"
  >
  </app-form-radio>
  <app-form-select
    [values]="[
      { id: 'true', value: 'Tak' },
      { id: 'false', value: 'Nie' }
    ]"
    [label]="'Wysyłka za granicę'"
    [name]="'shipping_abroad'"
    [form]="form"
    [control]="controls.shipping_abroad"
  >
  </app-form-select>
  <button class="btn btn--green" (click)="sendFilters()">Filtruj</button>
  <button class="btn btn--orange" (click)="form.reset()">Resetuj filtry</button>
</section>
