<div class="offers">
  <h3 class="offers__title" *ngIf="offers.length === 0 && showTitle">
    Nie masz jeszcze ulubioncyh przedmiotów, dodaj klikając na serduszko w
    widoku oferty.
  </h3>
  <app-offer *ngFor="let offer of offers" [offer]="offer"></app-offer>
</div>
<div class="paginator">
  <app-pagination
    [pageSize]="pagination.limit"
    [page]="pagination.page"
    (pageChange)="getData($event)"
    (changes)="onPaginationOutput($event)"
    [items]="totalItems"
  ></app-pagination>
</div>
