.form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 30px;

  &__span {
    cursor: pointer;
    color: var(--orange);
    font-weight: var(--bold);

    &:hover {
      letter-spacing: 0.5px;
    }
  }
}

app-form-input {
  width: 100%;
}
