header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: var(--green);
}

.search {
  width: 100%;
  max-width: 700px;
  position: relative;

  &__icon {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__input {
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--box-shadow);
    padding: 10px 40px 10px 10px;
    font-size: 18px;
    color: var(--text);
  }
}

.logo {
  font-weight: var(--bold);
  position: relative;
  padding: 10px;
  &__icon {
    position: absolute;
    left: 0;
    bottom: -3px;
  }

  a {
    margin-left: 45px;
    font-size: var(--fs28);
    margin-top: 10px;
    color: var(--white);
  }
}
