.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0;
  padding: 20px 15px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  &__btn {
    background-color: transparent;
    border: none;
  }
}

::ng-deep {
  .form__content-input {
    width: 100%;

    .input-field {
      textarea {
        border-bottom: none !important;
      }
    }
  }
}
