:root {
  --main-font: "Aller", sans-serif;
  --base-font-size: 16px;

  --light-gray: #eff2f8;
  --white: #fff;
  --blue: #5485ce;
  --light-blue: #d7ecf7;
  --orange: #f7ad36;
  --text: #3c3c3c;
  --red: #eb5962;
  --green: #3d3d3d;;
  --svg-fill-color: #3d3d3d;
  --grey: #9e9e9e;
  --dark-grey: #3d3d3d;;


  --light: 300;
  --regular: 400;
  --semi-bold: 500;
  --bold: 700;

  --fs10: 0.7143rem;
  --fs11: 0.7857rem;
  --fs12: 0.8571rem;
  --fs14: 1rem;
  --fs16: 1.143rem;
  --fs18: 1.286rem;
  --fs20: 1.429rem;
  --fs22: 1.571rem;
  --fs24: 1.714rem;
  --fs26: 1.857rem;
  --fs28: 2rem;
  --fs30: 2.143rem;
  --fs32: 2.286rem;
  --fs34: 2.429rem;
  --fs36: 2.571rem;
  --fs38: 2.714rem;
  --fs40: 2.857rem;
  --fs42: 3rem;
  --fs44: 3.143rem;
  --fs46: 3.286rem;
  --fs48: 3.428rem;

  --page-spacing: 50px;
}

ul {
  padding: none;

  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
select,
input,
b,
strong,
span {
  color: var(--dark-gray);

  &.color-gray {
    color: var(--dark-gray);
  }

  &.color-red {
    color: var(--red);
  }

  &.color-white {
    color: var(--white);
  }

  &.color-green {
    color: var(--green);
  }

  &.color-orange {
    color: var(--orange);
  }

  &.light {
    font-weight: var(--light);
  }

  &.bold {
    font-weight: var(--bold);
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    padding-bottom: 3px;
    border-bottom: 2px solid var(--dark-gray);

    &.color-green {
      border-bottom-color: var(--green);
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.send-form:disabled {
  position: relative;
  color: transparent !important;
  pointer-events: none;
  * {
    display: none;
    color: transparent;
  }

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--orange);
    animation: spinner 0.6s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
